.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* Fill the entire vertical screen */
  width: 100vw;
  overflow: hidden;
  /* Prevent main page from scrolling */
  background-color: #f4ebd8;
  position: relative;
}